

*{
    font-family: 'Roboto Slab', serif;
    margin:0;
    padding:0;
}
body{
    
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
#nav{
    color: white;
}
.bg-body-tertiary{
    --bs-bg-opacity:0;
}
.home-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    text-align: center;
}
.footer-con{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 30px;
    letter-spacing: 3px;
}
.shop-con,.cart_items,.fav-con{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 40px;
    justify-content: space-evenly;
}
.shop-con p,.cart_items p,.fav-con p{
    text-align: justify;
    font-size: 14px;
}
.shop-con h4,.cart_items h4,.fav-con h4{
    font-size: 15px;
}
.shop-con div img,.cart_items div img,.fav-con img{
    height: 340px;
    object-fit:contain;
}
.fav-h2{
    display: grid;
    place-items: center;
    margin: 20px;
}
.empty_cart,.empty_fav{
    display: grid;
    place-items: center;
    height:80vh
}
.inc_dec{
    display: flex;
}
.qty_dis{
    width: 40px;
    text-align: center;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.inc_dec button{
    width: 30px;
}
.inc_button{
    border-radius: 4px 0 0 4px;
    background-color: green;
    color: white;
}
.dec_button{
    border-radius: 0 4px 4px 0;
    background-color: red;
    color: white;

}
.flex_dis{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex_dis i:hover{
    cursor: pointer;
    color: red;
}
.cart-h2{
    margin: 10px 20px;
}
.cart_dis{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    border-radius: 2px;
}